@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"]:checked + label {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
